* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  background-color: #EAF7FF;
}

body {
  margin: 0;
  padding: 0;
}

.logoCabecalho {
  width: 70px;
  height: 70px;
  margin-bottom: -1px;
  margin-left: 15px;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #BCF7FF;
  color: #000;
}

.brand-title {
  font-size: 1.8rem;
  margin: 1rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 1rem;

  font-family: 'Inter';
  font: normal;

  white-space: nowrap;
  background-color: transparent;
  border: none;
  margin-right: .2rem;
}

.navbar-links li:hover {
  font-size: 1.05rem;
  background-color: #8FF2FF;
  transition: 450ms ease;
  font: bolder;
}

.botao-sair {
  background: #8FF2FF;
  border-radius: 5px;
  border-width: 0px;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .toggle-button {
    display: flex;
    margin-top: 30px;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .logoCabecalho {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: none;
    width: 80px;
    height: 80px;
  }

}


/* COMEÇA */
h1 {
  padding-top: 3%;
  padding-bottom: 3%;
  padding: 30px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400px;
  font-size: 25px;
  line-height: 19px;
  color: #000000;
}

@media (max-width: 800px) {
  h1 {
    font-size: 18px;
    text-align: center;
    font-weight: 100px;
  }
}

.card1 {
  background: #ffffff;
  border-radius: 10px;
}

body {
  font-family: "VT323", monospace;
  background: #eaf7ff;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fabricante {
  display: flex;
  align-items: center;
  font-family: "Inter";
  line-height: 5px;
}

.modelo {
  display: flex;
  align-items: center;
  font-family: "Inter";
  line-height: 5px;
}

.ano {
  display: flex;
  align-items: center;
  font-family: "Inter";
  line-height: 5px;
}

@media (max-width: 800px) {

  .ano,
  .modelo,
  .fabricante {
    font-size: 16px;
    font-weight: 100px;
  }
}

.selecao-ano {
  width: 90px;
  border-radius: 90px;
  padding: 4px;
}


.selecao {
  width: 300px;
  border-radius: 100px;
  padding: 6px;
}

.card {
  position: relative;
  width: 446px;
  min-width: 300px;
  font-weight: 700;
  min-height: 80px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  color: #000;
  margin: 20px;
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px;

}

.botao-adicionar-carro {
  all: unset;
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 8em;
  white-space: nowrap;

  background: #8ff2ff;
  padding: 10px 15px;

  margin-top: 2%;
  margin-bottom: 10%;

  width: 103px;
  height: 25px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: 900;
  font-size: 12.2px;
  line-height: 15px;
  font-family: "Inter";
  text-align: center;
}

.botao-adicionar-carro:hover {
  color: #000;
  background: #4294ff;
}

.botao-adicionar-carro:active {
  color: #000;
  background: #dcfcfe;
}

/* TERMINA */
/* RODAPÉ */

footer {
  background-color: #BCF7FF;
  padding: 10px 0 10px;
  max-height: 400px;
}

.logo-rodape {
  width: 70px;
  height: 70px;
  margin-bottom: -1px;
  margin-left: 15px;
}

.informacoes {
  height: 100vh;
  display: flex;
}

.info-rodape {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
}

#info-rodape:hover>.info-rodape {
  opacity: 0.3;
}

#info-rodape:hover>.info-rodape:hover {
  opacity: 1;
}

.redes-sociais {
  height: 100vh;
  display: flex;
}

.insta {
  color: #000;
  font-family: Inter;
  font-style: Regular;
  text-align: right;
  margin-right: 35px;
  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
}

#insta:hover>.insta {
  opacity: 0.3;
}

#insta:hover>.insta:hover {
  opacity: 1;
}

.direitos-reservados {
  color: #000;
  font-family: Inter;
  font-weight: normal;
  text-align: right;
  margin-right: 35px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .logo-rodape {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: none;
    width: 80px;
    height: 80px;
  }

  .info-rodape {
    text-align: left;
    margin-left: 50px;
    display: flex;
    font-size: 15px;
  }

  .insta {
    text-align: right;
    font-size: 10px;
  }

  .direitos-reservados {
    text-align: right;
    font-size: 10px;
  }
}