html,
body,
main,
.rodape {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* AJUSTEI TODOS OS TAMANHOS EM UM UNICO LUGAR E REMOVI OS DEMAIS */


header {
    /* background-color: #0f1726; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;

    width: auto;
    height: 53px;
    margin: auto;

    background: #bcf7ff;
}

.logo-turing-wash {
    /* position: absolute; */
    width: 36px;
    height: 36px;

    background-color: transparent;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;

    /* padding: 0px; */

    /* background: url(image.png); */
}

header button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.botao-menu-carros {
    /*position: absolute; */
    white-space: nowrap;
    background-color: transparent;
    border: none;

    width: 85px;
    height: 17px;
}

.botao-menu-lavagens {
    /* position: absolute; */

    background-color: transparent;
    border: none;

    width: 115px;
    height: 17px;
}

.botao-menu-sair {
    /* position: absolute; */
    width: 27px;
    height: 17px;
    width: 46px;
    height: 24px;

    background: #8FF2FF;
    border-radius: 5px;
    border-width: 0px;
}

body {
    justify-content: center;
    background: #eaf7ff;
}

h1 {
    /* position: absolute; */
    width: 331px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.card1 {
        background: #ffffff;
        align-items: center;
 
}

h2 {
    /* position: absolute; */
    width: 76px;
    height: 30px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
}

.botao-adicionar-carro {

    width: 103px;
    height: 25px;

    background: #8ff2ff;
    border-radius: 5px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.selecao {
    width: 300px;
    border-radius: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    /* padding: 8px; */
}

.selecao-ano {
    width: 100px;
    border-radius: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    /* padding: 8px; */
}

/* RODAPÉ */
  /* APÓS COLOCAR O LAYOUT, USAR ESSE METODO PARA DEIXAR RESPONSIVO*/
  /*@media screen and (max-width: 786px) {
      footer {
          width: 100%;
          display: none;
      }
  }*/


  .rodape {
    /*position: absolute;*/

    background-color: #fff;
    display: flex;
    /*justify-content: center;*/
    padding: 32px;
    background: #BCF7FF;
}


.logoRodape {
    /*position: absolute;*/
    width: 24.2px;
    height: 24.2px;

    /* background: url(image.png);  */
}

.info-rodape {
    /* Sobre */
    /*position: absolute; */
    width: 17px;
    height: 7px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 7px;

    color: #000000;
}

.instagram {
    /* @turingwash */

    /*width: 380px;
    height: 7px;
    top: 549rem;
    left: 1957rem;*/


    font-family: 'Inter';
    font-style: normal;
    font-size: 6px;
    line-height: 7px;
    line-height: 100%;
    vertical-align: top;
    align-items: left;
    fill: solid;
    color: #000000;
}

.direitos-reservados {
    /* 2022. TuringWash. Todos os direitos reservados */

    /*position: absolute;*/
    /*width: 91px;
    height: 5px;*/


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4px;
    line-height: 5px;
    color: #000000;
}