* {
    box-sizing: border-box;
}

html{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  background-color: #EAF7FF;
}

body {
    margin: 0;
    padding: 0;
}

.logoCabecalho{
    width: 70px;
    height: 70px;
    margin-bottom: -1px;
    margin-left: 15px;
  }

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #BCF7FF;
    color: #000;
}

.brand-title {
    font-size: 1.8rem;
    margin: 1rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1rem;
  
    font-family: 'Inter';
    font: normal;
  
    white-space: nowrap;
    background-color: transparent;
    border: none;
    margin-right: .2rem;
}

.navbar-links li:hover {
    font-size: 1.05rem;
    background-color: #8FF2FF;
    transition: 450ms ease;
    font: bolder;
}

.botao-sair{
    background: #8FF2FF;
    border-radius: 5px;
    border-width: 0px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .toggle-button {
        display: flex;
        margin-top: 30px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

  body {
      justify-content: center;
      background: #eaf7ff;
  }

  h1 {
      /* position: absolute; */
      width: 331px;
      height: 19px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;

      color: #000000;
  }

  /* CAIXA DOS LAVADORES */

  .informacoes-das-lavagens {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 32px;
      padding-left: 32px;

      color: #000000;
  }

  .nome-lavador {
      position: absolute;
      width: 80px;
      height: 30px;

      font-family: "Inter";
      font-style: mixed;
      font-size: 12px;
      line-height: 15px;
      line-height: 100%;

      color: #000000;
  }

  .nome-carro {
      position: absolute;
      width: 118px;
      height: 30px;

      font-family: "Inter";
      font-style: mixed;
      font-size: 12px;
      line-height: 15px;
      line-height: 100%;


      color: #000000;
  }

  .nome-joana {
      width: 100%;
      height: 80px;

      font-family: "Inter";
      font-style: normal;
      font-weight: auto;
      font-size: 12px;

      background: #ffffff;
      color: #000000;

  }

  .nome-matheus {
      width: 100%;
      height: 80px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      background: #ffffff;

      color: #000000;
  }

  .modelo-carro {
      position: absolute;
      width: 118px;
      height: 30px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 50px;

      color: #000000;
  }

  .preco {
      position: left;
      width: 34px;
      height: 15px;

      font-family: "Inter";
      font-style: bold;
      font-size: 12px;
      line-height: 80px;
      line-height: 100%;
      background: #DCFCFE;
      border-radius: 0px 10px 0px 0px;

      color: #000000;
  }


  .data {
      position: left;
      width: 98px;
      height: 12px;

      font-family: "Inter";
      font-style: Regular;
      font-size: 10px;
      line-height: 12px;
      line-height: 100%;

      color: #000000;
  }

  /* RODAPÉ */
  footer {
    background-color: #BCF7FF;
    font-size: Regular;
    padding:10px 0 10px;
    max-height: 400px;
  }
  
  .logo-rodape {
    width: 70px;
    height: 70px;
    margin-bottom: -1px;
    margin-left: 15px;
  }
  
  .informacoes{
    height: 100vh;
    display: flex;
  }
  
  .info-rodape{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    display:block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
  }
  
  #info-rodape:hover >.info-rodape {
    opacity: 0.3;
  }
  
  #info-rodape:hover >.info-rodape:hover {
    opacity: 1;
  }
  
  .redes-sociais{
    height: 100vh;
    display: flex;
  }
  
  .insta{
    color: #000;
    font-family: Inter;
    font-style: Regular;
    text-align:right;
    margin-right: 35px;
    display:block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
  }
  
  #insta:hover >.insta {
    opacity: 0.3;
  }
  
  #insta:hover >.insta:hover {
    opacity: 1;
  }
  
  .direitos-reservados{
    color: #000;
    font-family: Inter;
    font-weight: normal;
    text-align:right;
    margin-right: 35px;
  }
  
  @media only screen and (max-width: 768px) {
    .logo-rodape {
        width: 50%;
        display: flex;
    }

    .info-rodape {
        text-align: left;
        margin-left: 50px;
        display: flex;
        font-size: 15px;
    }

    .insta {
        text-align: right;
        font-size: 10px;
    }

.direitos-reservados{
    text-align: right;
    font-size: 10px;
    }
}