* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    background-color: #EAF7FF;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #BCF7FF;
    color: #000;
}

.brand-title {
    font-size: 1.8rem;
    margin: 1rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1rem;

    font-family: 'Inter';
    font: normal;

    white-space: nowrap;
    background-color: transparent;
    border: none;
    margin-right: .2rem;
}

.navbar-links li:hover {
    font-size: 1.05rem;
    background-color: #8FF2FF;
    transition: 450ms ease;
    font: bolder;
}

.botao-sair {
    background: #8FF2FF;
    border-radius: 5px;
    border-width: 0px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


h1 {
    /* Lavadores disponíveis próximos de você... */
    width: 331px;
    height: 19px;

    font-family: 'Inter';
    font: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.busca {
    /* Lavar Nissan Kicks */

    /* position: absolute; */
    width: 107px;
    height: 15px;

    font-family: 'Inter';
    font: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #000000;
}

.ordenar {
    /* Ordenar por proximidade */

    /* position: absolute; */
    width: 142px;
    height: 15px;

    font-family: 'Inter';
    font: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #000000;
}


/* CAIXA DO PRIMEIRO USUÁRIO */
section {
    /* Fundo da caixa dos usuários */

    /* position: absolute; */
    width: 446px;
    height: 80px;

    background: #FFFFFF;
    border-radius: 10px;
}

.classificacao-usuarios img {
    position: absolute;
    width: 55px;
    height: 55px;

    /* background: url(image.png); */
}

.nome-do-usuario {
    /* João Pereira */

    /* position: absolute; */
    width: 73px;
    height: 15px;

    font-family: 'Inter';
    font: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #000000;
}

.nota-do-usuario {
    /* Nota 4.5 (998 avaliações) */

    /* position: absolute; */
    width: 127px;
    height: 12px;

    font-family: 'Inter';
    font: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}

.valor {
    /* R$ 80 */

    /* position: absolute; */
    width: 35px;
    height: 15px;

    font-family: 'Inter';
    font: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #000000;

    /* position: absolute; */
    width: 59px;
    height: 27px;

    background: #DCFCFE;
    border-radius: 0px 10px 0px 0px;
}

.avaliacoes {
    /* Ver avaliações */

    /* position: absolute; */
    width: 82px;
    height: 15px;

    font-family: 'Inter';
    font: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #000000;
}

.lavarMeuCarro {
    /* Lavar meu carro */

    /* position: absolute; */
    width: 92px;
    height: 15px;

    font-family: 'Inter';
    font: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #000000;

    width: 103px;
    height: 25px;

    background: #8FF2FF;
    border-radius: 5px;
}

/* RODAPÉ */
.rodape {
    /* position: absolute; */

    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 32px;

    width: 517px;
    height: 85px;

    background: #BCF7FF;
}

.logoRodape {
    /* position: absolute; */
    width: 24.2px;
    height: 24.2px;
    /* background: url(image.png);  */
}

.info-rodape {
    /* Sobre */
    /* position: absolute; */
    width: 17px;
    height: 7px;

    font-family: 'Inter';
    font: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 7px;

    color: #000000;
}

.instagram {
    /* @turingwash */

    position: absolute;
    width: 38px;
    height: 7px;

    font-family: 'Inter';
    font: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 7px;

    color: #000000;
}

.direitos-reservados {
    /* 2022. TuringWash. Todos os direitos reservados */

    position: absolute;
    width: 91px;
    height: 5px;

    font-family: 'Inter';
    font: normal;
    font-weight: 400;
    font-size: 4px;
    line-height: 5px;
    color: #000000;
}